html {
  height: 100%; }

body {
  position: relative;
  height: auto !important;
  min-height: 100%;
  overflow-x: hidden !important;
  overflow-y: auto !important;
  padding-right: 0px !important;
  background: #f5f5f5;
  font: 1.4rem/1.6rem Calibri;
  font-weight: 200;
  color: #000; }

a {
  color: #000; }
  a:hover, a:focus {
    color: #3097D1;
    text-decoration: none; }

h4 {
  color: #666;
  text-transform: uppercase;
  line-height: 40px;
  float: right;
  margin-bottom: 0.3rem;
  padding-right: 0.5rem;
  font-weight: 100; }

#header {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #333;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.95);
  padding: 0px 16px;
  overflow: hidden; }
  #header button {
    background-color: transparent;
    border: 0px;
    line-height: 50px;
    font-size: 30px;
    outline: none;
    color: #aaa;
    cursor: pointer;
    border-radius: 50%;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    #header button:hover, #header button:focus {
      color: #fff; }
  #header a {
    color: #aaa;
    line-height: 50px;
    font-size: 32px; }
    #header a:hover, #header a:focus {
      color: #fff; }

.wrapper-content {
  padding-top: 50px; }
  .wrapper-content.hide-aside #aside {
    width: 70px; }
    .wrapper-content.hide-aside #aside span {
      display: none; }
  .wrapper-content.hide-aside .content {
    margin-left: 70px; }

#aside {
  background-color: #333;
  width: 200px;
  position: fixed;
  top: 50px;
  left: 0%;
  bottom: 0;
  z-index: 1;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23); }
  #aside ul {
    margin: 0px;
    padding: 0px;
    list-style: none; }
    #aside ul a {
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      padding: 1rem 1rem;
      text-transform: uppercase;
      border-bottom: 1px solid #aaa;
      color: #aaa; }
      #aside ul a:hover, #aside ul a:focus {
        background-color: rgba(0, 0, 0, 0.3);
        border-left: 5px solid #fff;
        padding-left: 0.72rem;
        color: #fff; }
      #aside ul a i {
        font-size: 2rem;
        margin-right: 1rem; }

.content {
  margin-left: 200px; }

.panel-page {
  padding-top: 5px;
  height: 50px;
  background: #333; }

.table td {
  vertical-align: middle; }
  .table td .custom-control-indicator {
    width: 2rem;
    height: 100%; }

.pagination {
  padding-left: 3rem; }
