$color1: #aaa;
$colorHover1: #fff;
$background-color1: #333;
$color2: #000;
$colorHover2: #3097D1;
$background-color2: #ff0000;
$color3: #000;
$colorHover3: #3097D1;
$background-color3: #666666;
$aside: 200px;
$fontSize1: 40px;

html {
  height: 100%;
  background-color: #000;
}

body {
  position: relative;
  height: auto !important;
  min-height: 100%;
  overflow-x: hidden !important;
  overflow-y: auto !important;
  padding-right: 0px !important;

  font: 1.4rem/1.6rem Calibri;
  font-weight: 200;
  color: #666;
}

body, .nav-tabs .nav-link.active {
  background: url("../img/pattern2.jpg") repeat;
}

#header, #aside {
  background: url("../img/pattern1.png") repeat;
}

.content ul.nav-tabs {
  background-color: #ddd;
  background: url("../img/pattern3.png") repeat;
}

a {
  color: $color2;
  &:hover, &:focus {
    color: blue;
    text-decoration: none;
  }
}


//исправление checkbox
.custom-control-input {
  position: static;
}

//уведомление нижний левый угол
#snackbar {
  position: fixed;
  left: 1rem;
  bottom: 1rem;
  z-index: 99999;
  padding: 10px 20px;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.8);
  color: #ddd;
  text-transform: uppercase;
  font-size: 1rem;
}

#header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 100;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.95);
  padding: 0px 10px;
  #button-aside {
    background-color: transparent;
    border: 0px;
    font-size: $fontSize1;
    outline: none;
    color: $color1;
    cursor: pointer;
    border-radius: 50%;
    &:hover, &:focus {
      color: $colorHover1;
    }
  }
  .panel-page {
    flex-basis: 100%;
    margin-left: 144px;
    h3 {
      margin: 0px;
      font-style: italic;
      color: #333;
      text-shadow: 1px 1px 1px #999;
    }
  }
  .panel-page-left {
    margin-left: 14px;
  }
  #button-home {
    color: $color1;
    font-size: $fontSize1;
    &:hover, &:focus {
      color: $colorHover1;
    }
  }
}

.wrapper-content {
  position: relative;
  padding-top: 52px;
  position: relative;
  padding-left: 200px;
  &.small-aside {
    padding-left: 70px;
    #aside {
      width: 70px;
      span {
        display: none;
      }
    }
  }
  &.hide-aside {
    padding-left: 0px;
    #aside {
      display: none;
    }
  }
}

#aside {
  width: $aside;
  position: fixed;
  top: 52.4px;
  left: 0%;
  bottom: 0;
  z-index: 1;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
  ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    li:first-child a {
      border-top: 1px solid $color1;
    }
    a {
      display: flex;
      align-items: center;
      padding: 1rem 1rem;
      text-transform: uppercase;
      border-bottom: 1px solid $color1;
      color: $color1;
      &:hover, &:focus {
        background-color: rgba(0, 0, 0, 0.3);
        border-left: 5px solid $colorHover1;
        padding-left: 0.72rem;
        color: $colorHover1;
      }
      i {
        font-size: 2rem;
        margin-right: 15px;
      }
    }
  }
}

.content {
  position: relative;
  z-index: 2;
}

.table {
  background: #ddd;
}

.table td {
  vertical-align: middle;
  .custom-control-indicator {
    width: 2rem;
    height: 100%;
  }
}

#home {
  position: relative;
}

#editor {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-link.active:hover, .nav-tabs .nav-link.active:focus {
  color: silver;
  box-shadow: 2px 0px 12px -2px #333;
}

.nav-tabs .nav-link {
  padding: 0px 15px;
  line-height: 44px;
  font-size: 1.1rem;
  border: none;
}

.content .tab-content .card {
  background: inherit;
  border: none;
}

.content .tab-content .card label {
  margin-bottom: 0px;
  text-transform: lowercase;
  font-size: 20px;
  font-style: italic;
  color: #999;
}

.content .tab-content .card label > span {
  margin-bottom: 0px;
  text-transform: uppercase;
  font-size: 28px;
  font-style: normal;
  color: #999;
}

.content input.form-control, .content select.form-control {
  padding: 0px 10px;
  font-size: 28px;
  line-height: 50px;
  height: 50px !important;
  color: #fff;
  background-color: $background-color3;
}

.content textarea.form-control {
  padding: 0px 10px;
  font-size: 28px;
  color: #fff;
  background-color: $background-color3;
}

.form-control-feedback {
  font-size: 18px;
  line-height: 18px;
  //margin-top: 0;
  font-style: italic;
}

.content .tab-content .card .custom-checkbox {
  margin-top: 40px;
}

.btnMeta {
  float: right;
  margin-top: 35px;
}

a.copyright {
  position: absolute;
  bottom: 5px;
  left: 5px;
  font-size: 16px;
  color: #000;
  text-shadow: 1px 1px 1px #222;
}

a.copyright:hover {
  text-decoration: none;
  color: inherit;
}

