$color1: #aaa;
$colorHover1: #fff;
$background-color1:#333;
$color2: #000;
$colorHover2: #3097D1;
$background-color2:#ff0000;

html {
  height: 100%;
}

body {
  position: relative;
  height: auto !important;
  min-height: 100%;
  overflow-x: hidden !important;
  overflow-y: auto !important;
  padding-right: 0px !important;

  background: #f5f5f5;
  font: 1.4rem/1.6rem Calibri;
  font-weight: 200;
  color: #000;
}

a {
  color: $color2;
  &:hover, &:focus {
    color: $colorHover2;
    text-decoration: none;
  }
}



#header {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: $background-color1;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.95);
  padding: 0px 16px;
  overflow: hidden;

  button {
    background-color: transparent;
    border: 0px;
    line-height: 50px;
    font-size: 30px;
    outline: none;
    color: $color1;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    &:hover, &:focus {
       color: $colorHover1;
     }
  }
  a {
    color: $color1;
    line-height: 50px;
    font-size: 32px;
    &:hover, &:focus {
      color: $colorHover1;
    }
  }
}

.wrapper-content {
  padding-top: 50px;

  &.hide-aside {
    #aside {
      width: 70px;
      span {
        display: none;
      }
    }
    .content {
      margin-left: 70px;
    }
  }
}

#aside {
  background-color: $background-color1;
  width: 200px;
  position: fixed;
  top: 50px;
  left: 0%;
  bottom: 0;
  z-index: 1;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
  ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    a {
      display: flex;
      align-items: center;
      padding: 1rem 1rem;
      text-transform: uppercase;
      border-bottom: 1px solid $color1;
      color: $color1;
      &:hover, &:focus {
        background-color: rgba(0, 0, 0, 0.3);
        border-left: 5px solid $colorHover1;
        padding-left: 0.72rem;
        color: $colorHover1;
      }
      i {
        font-size: 2rem;
        margin-right: 1rem;
      }
    }
  }
}

.content {
  margin-left: 200px;
}

.panel-page{
 padding-top:5px;
  height: 50px;
  background: $background-color1;
  h4 {
    color: #666;
    line-height: 40px;
    float: right;
    margin-bottom: 0.3rem;
    padding-right: 0.5rem;
    font-weight: 100;
  }
}

.table td{
  vertical-align: middle;
  .custom-control-indicator{
    width: 2rem;
    height: 100%;
  }
}

.pagination{
  padding-left:3rem;

}
#home{
  position: relative;
}
#editor {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 400px;
}