html {
  height: 100%;
}

body {
  position: relative;
  height: auto !important;
  min-height: 100%;
  overflow-x: hidden !important;
  overflow-y: auto !important;
  padding-right: 0px !important;

  background: #f3f3f3;
  font: 1.4rem/1.6rem Calibri;
  font-weight: 200;
  color: #000;
  padding-bottom: 70px;
}

#header .row, .menu1, .sidebar-left, .content, #footer .row {
  background: #fff;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .12), 0 1px 6px 0 rgba(0, 0, 0, .12);
  border-radius: 0px;
}

#header {

  .row {
    padding: 1rem 0;
    align-items: center;
  }

  .logo {
    text-align: left;
  }

  .devis {
    text-align: center;
  }

  .adress {
    text-align: right;
  }
}

.menu1 {

  ul {
    justify-content: space-between;
    flex: 1 1 auto;
  }
  .collapse {
    flex: 1 1 auto;
  }
  li {
    text-align: center;
    padding: 0px 10px;
    margin: 0px !important;
    flex: 1 1 auto;
  }

}

.wrapper-content {
  flex: auto;

}

#footer {
  position: absolute;
  bottom: 0px;
  width: 100%;

  .row {
    padding: 1rem 0rem;
    justify-content: center;
  }
}